---
import { languages } from '../i18n/translations';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const path = Astro.url.pathname.replace(`/${lang}`, '');
---

<div class="relative">
  <select
    class="block appearance-none bg-white border border-gray-300 rounded-md pl-3 pr-8 py-2 text-sm"
    onChange="window.location.href = this.value"
  >
    {Object.entries(languages).map(([code, name]) => (
      <option value={`/${code}${path}`} selected={code === lang}>
        {name}
      </option>
    ))}
  </select>
</div>